<div xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/index :: dynamic(~{::main})}">
<main >
<br><br>
		<div class="main">
			<div class="box-form">
				<div class="left">
					<div class="overlay">
						<h1 >WELCOME</h1>
						<p >Tạo tài khoản để nhận được nhiều ưu đãi hơn.</p>
						<span class="otherLogin">
                            <a th:href="@{/oauth2/authorization/facebook}" ><img th:src="@{/images/facebook.png}" alt="" >Facebook</a>
                            <a th:href="@{/oauth2/authorization/google}" ><img th:src="@{/images/google.png}" alt="" >Google</a>
                        </span>
					</div>
				</div>

				<div class="right text-center">
					<div class="form">
						<h1 class="h3 mb-3 fw-normal alert alert-[[${color}]]" >Đổi mật khẩu</h1>
						<div id="error-message" >	<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
    </div>
    </div>
						<form action="/change-password" method="post">
    <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="username" name="username"> 
        <label for="username">Tên đăng nhập</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="oldPassword" placeholder="oldPassword" name="oldPassword"> 
        <label for="oldPassword">Mật khẩu cũ</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="newPassword" placeholder="newPassword" name="newPassword"> 
        <label for="newPassword">Mật khẩu mới</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        <label for="confirmPassword">Xác nhận mật khẩu mới</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Đổi</button>
    <p class="mt-5 mb-3 text-muted">Welcome</p>
</form>
						
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<link rel="stylesheet" href="/css/login.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
        <style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>