<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
</head>
<body>
<main>
    <div class="container mt-5 mb-3" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(0, 0, 0, 0.1);
			 border-radius: 8px; background-color: #f8f9fa; padding: 10px">
        <h1 class="text-center mb-3 fw-bold text-primary-custom">Chi Tiết Đơn Hàng</h1>

        <div class="card mb-4">
            <div class="card-header">
                Thông Tin Đơn Hàng
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th class="bg-light" style="width: 30%;">Mã Đơn Hàng</th>
                        <td th:text="${order.id}"></td>
                    </tr>
                    <tr>
                        <th class="bg-light">Họ Tên</th>
                        <td th:text="${order.hoten}"></td>
                    </tr>
                    <tr>
                        <th class="bg-light">Trạng Thái Đơn Hàng</th>
                        <td>
                            <span th:classappend="${order.status == 1 ? 'badge bg-success' : 'badge bg-warning'}"
                                  th:text="${order.status == 1 ? 'Đã Hoàn Thành' : 'Chờ Xử Lý'}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Sản Phẩm Đã Đặt
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Tên Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Giá</th>
                        <th>Mã Đơn Hàng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${orderDetails}">
                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.price}+'VND'"></td>
                        <td th:text="${item.order.id}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const priceElements = document.querySelectorAll("td:nth-child(3)");
    priceElements.forEach(el => {
        let price = parseFloat(el.textContent.replace(/\D/g, '')) * 100;
        if (!isNaN(price)) {
            el.textContent = price.toLocaleString('vi-VN', {
                maximumFractionDigits: 0
            }) + " VNĐ";
        }
    });
});
</script>
</main>
</body>
</html>
