<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
    <div class="container">
     <div class="row text-center text-md-start">
      <div class="col-md-2 mb-3">
       <h5>
        SẢN PHẨM
       </h5>
       <ul class="list-unstyled">
        <li>
         <a href="#">
          Giày Nam
         </a>
        </li>
        <li>
         <a href="#">
          Giày Nữ
         </a>
        </li>
        <li>
         <a href="#">
          Sale-off
         </a>
        </li>
       </ul>
      </div>
      <div class="col-md-2 mb-3">
       <h5>
        VỀ CÔNG TY
       </h5>
       <ul class="list-unstyled">
        <li>
         <a href="#">
          Liên hệ nhượng quyền
         </a>
        </li>
        <li>
         <a href="#">
          Về SPORTS
         </a>
        </li>
       </ul>
      </div>
      <div class="col-md-2 mb-3">
       <h5>
        HỖ TRỢ
       </h5>
       <ul class="list-unstyled">
        <li>
         <a href="#">
          FAQs
         </a>
        </li>
        <li>
         <a href="#">
          Bảo mật thông tin
         </a>
        </li>
        <li>
         <a href="#">
          Chính sách chung
         </a>
        </li>
        <li>
         <a href="#">
          Tra cứu đơn hàng
         </a>
        </li>
       </ul>
      </div>
      <div class="col-md-2 mb-3">
       <h5>
        LIÊN HỆ
       </h5>
       <ul class="list-unstyled">
        <li>
         <a href="#">
          Email góp ý
         </a>
        </li>
        <li>
         <a href="#">
          Hotline
         </a>
        </li>
        <li>
         0979 444 5340
        </li>
       </ul>
      </div>
      <div class="col-md-4 mb-3">
       <h5>
        SPORTS SOCIAL
       </h5>
       <div class="social-icons">
        <a href="#">
         <i class="fab fa-facebook-f">
         </i>
        </a>
        <a href="#">
         <i class="fab fa-instagram">
         </i>
        </a>
        <a href="#">
         <i class="fab fa-youtube">
         </i>
        </a>
       </div>
       <h5 style="margin-top: 10px;">
        ĐĂNG KÝ NHẬN MAIL
       </h5>
       <div class="email-input">
        <input placeholder="Email của bạn" type="email"/>
        <button type="button">
         <i class="fas fa-arrow-right">
         </i>
        </button>
       </div>
      </div>
     </div>
     <div class="row mt-4 text-center">
      <div class="col-12">
       <button class="btn btn-orange">
        TÌM CỬA HÀNG
       </button>
      </div>
     </div>
     <div class="row mt-2 text-center">
      <div class="col-12 copyright">
       <p>
        Copyright © 2024 SPORTS.
        All rights reserved.
        <img src="/Images/icon_bocongthuong.png" alt="">
       </p>
      </div>
     </div>
    </div>
   </footer>
</body>
</html>
